In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('data.xlsx')

In [3]:
df.tail()

,Unnamed: 0,href,전일 종가,금일 변동,매출,금일 시가,52주 변동폭,주당순이익,거래량_x,총 시가,...,1년 변동률,발행주식수,다음 수익일자,현재가,고가,저가,변동,변동%,거래량_y,시간
195,한국쉘석유,https://kr.investing.com/equities/hankook-shel...,"257,000","257,500 - 265,000",212.95B,"260,500","203,000 - 345,500",17531.64,"6,069",334.1B,...,- 18.45%,"1,300,000",NaN,"258,500","265,000","257,500",1500,+0.58%,6.07K,15:30:00
196,영풍,https://kr.investing.com/equities/youngpoong,"519,000","519,000 - 539,000","3,120.41B","519,000","382,000 - 757,000",143866.1,"5,008",956.02B,...,- 30.08%,"1,720,134",2020년 06월 03일,"538,000","539,000","519,000",19000,+3.66%,5.01K,15:40:00
197,태광산업,https://kr.investing.com/equities/taekwang-ind,"750,000","752,000 - 783,000","2,694.24B","761,000","487,000 - 1,431,000",193333.9,"2,911",835.05B,...,- 40.53%,"841,631",2020년 06월 03일,"779,000","783,000","752,000",29000,+3.87%,2.91K,15:43:00
198,롯데푸드,https://kr.investing.com/equities/lotte-food,"377,500","375,000 - 383,500","1,771.99B","383,500","204,000 - 612,000",40823.32,"2,751",427.28B,...,- 30%,"909,810",2020년 08월 12일,"377,500","383,500","375,000",0,0.00%,2.75K,15:42:00
199,에스엘,https://kr.investing.com/equities/sl-corp,"14,250","13,500 - 14,050","2,262.21B","13,850","9,090 - 25,400",1897.57,NaN,665.21B,...,- 39.07%,"46,448,520",2020년 06월 03일,"13,800","14,050","13,500",0,0.00%,0,20/05

In [4]:
df=df.rename(columns={'Unnamed: 0':'종목'})

In [5]:
df.head()

,종목,href,전일 종가,금일 변동,매출,금일 시가,52주 변동폭,주당순이익,거래량_x,총 시가,...,1년 변동률,발행주식수,다음 수익일자,현재가,고가,저가,변동,변동%,거래량_y,시간
0,삼성중공업,https://kr.investing.com/equities/samsung-heav...,"5,890","6,130 - 6,970","7,718.83B","6,180","3,070 - 8,470",- 2378.88,"110,900,770","3,718.83B",...,- 15.13%,"604,035,571",2020년 08월 12일,"6,970","6,970","6,130",1080,+18.34%,110.90M,15:59:00
1,삼성전자,https://kr.investing.com/equities/samsung-elec...,"51,400","51,700 - 55,000","233,340.51B","51,800","42,300 - 62,800",3133.84,"48,787,603","343,053.8B",...,23.52%,"6,792,669,250",2020년 07월 29일,"54,500","55,000","51,700",3100,+6.03%,48.79M,15:59:00
2,두산인프라코어,https://kr.investing.com/equities/dsinfra,"5,540","5,650 - 6,650","8,012.54B","5,770","2,500 - 6,750",980.08,"43,248,149","1,153.21B",...,- 8.51%,"208,160,774",2020년 08월 04일,"6,250","6,650","5,650",710,+12.82%,43.25M,15:58:00
3,한화생명,https://kr.investing.com/equities/hanwha-life,"1,560","1,565 - 1,635","20,733.34B","1,575","881 - 3,380",97.74,"15,158,508","1,354.91B",...,- 51.3%,"751,390,250",2020년 08월 07일,"1,620","1,635","1,565",60,+3.85%,15.16M,15:58:00
4,Pan Ocean,https://kr.investing.com/equities/stx-pan-ocean,"3,625","3,650 - 4,070","2,491.87B","3,660","2,055 - 5,210",267.02,"14,606,724","1,937.81B",...,- 10.35%,"534,569,207",2020년 08월 18일,"3,860","4,070","3,650",235,+6.48%,14.61M,15:58:00

In [6]:
df.columns

Index(['종목', 'href', '전일 종가', '금일 변동', '매출', '금일 시가', '52주 변동폭', '주당순이익',
       '거래량_x', '총 시가', '배당금', '평균 거래량', '주가수익비율', '베타', '1년 변동률', '발행주식수',
       '다음 수익일자', '현재가', '고가', '저가', '변동', '변동%', '거래량_y', '시간'],
      dtype='object')

In [7]:
myneeds=df.loc[:,['종목','총 시가','현재가','52주 변동폭']]

In [8]:
myneeds.head()

          종목        총 시가     현재가          52주 변동폭
0      삼성중공업   3,718.83B   6,970    3,070 - 8,470
1       삼성전자  343,053.8B  54,500  42,300 - 62,800
2    두산인프라코어   1,153.21B   6,250    2,500 - 6,750
3       한화생명   1,354.91B   1,620      881 - 3,380
4  Pan Ocean   1,937.81B   3,860    2,055 - 5,210

In [9]:
for_add=myneeds.iloc[:,3].str.split(expand=True)

In [10]:
for_add

           0  1          2
0      3,070  -      8,470
1     42,300  -     62,800
2      2,500  -      6,750
3        881  -      3,380
4      2,055  -      5,210
..       ... ..        ...
195  203,000  -    345,500
196  382,000  -    757,000
197  487,000  -  1,431,000
198  204,000  -    612,000
199    9,090  -     25,400

[200 rows x 3 columns]

In [11]:
for_add.drop(1,axis=1,inplace=True)

In [12]:
for_add.columns=['저가','고가']

In [13]:
for_add.head(2)

       저가      고가
0   3,070   8,470
1  42,300  62,800

In [14]:
for_add['고가']=for_add['고가'].str.replace(pat=r'[^A-Za-z0-9]', repl=r'', regex=True)

In [15]:
for_add['저가']=for_add['저가'].str.replace(pat=r'[^A-Za-z0-9]', repl=r'', regex=True)

In [16]:
for_add.astype({'고가':'float','저가':'float'})

           저가         고가
0      3070.0     8470.0
1     42300.0    62800.0
2      2500.0     6750.0
3       881.0     3380.0
4      2055.0     5210.0
..        ...        ...
195  203000.0   345500.0
196  382000.0   757000.0
197  487000.0  1431000.0
198  204000.0   612000.0
199    9090.0    25400.0

[200 rows x 2 columns]

In [17]:
all_needs=pd.merge(myneeds, for_add, right_index=True,left_index=True)

In [ ]:
all_needs['총 시가']=all_needs['총 시가'].str.replace(pat=r'[^0-9.]', repl=r'', regex=True)

In [ ]:
all_needs.rename(columns={'총 시가':'총시가(B)'})

In [18]:
all_needs['현재가']=all_needs['현재가'].str.replace(pat=r'[^A-Za-z0-9]', repl=r'', regex=True)

In [19]:
all_needs=all_needs.astype({'현재가':'float','저가':'float','고가':'float','총시가(B)':'float'})

In [20]:
all_needs['손실']=all_needs['고가']-all_needs['저가']

In [21]:
all_needs['회복']=all_needs['현재가']-all_needs['저가']

In [22]:
all_needs['손실율%']=100-(all_needs['저가']/all_needs['고가']*100)

In [23]:
all_needs.head()

,종목,총 시가,현재가,52주 변동폭,저가,고가,손실,회복,손실율%
0,삼성중공업,"3,718.83B",6970.0,"3,070 - 8,470",3070.0,8470.0,5400.0,3900.0,63.754427
1,삼성전자,"343,053.8B",54500.0,"42,300 - 62,800",42300.0,62800.0,20500.0,12200.0,32.643312
2,두산인프라코어,"1,153.21B",6250.0,"2,500 - 6,750",2500.0,6750.0,4250.0,3750.0,62.962963
3,한화생명,"1,354.91B",1620.0,"881 - 3,380",881.0,3380.0,2499.0,739.0,73.934911
4,Pan Ocean,"1,937.81B",3860.0,"2,055 - 5,210",2055.0,5210.0,3155.0,1805.0,60.556622

In [24]:
all_needs['회복율%']=all_needs['회복']/all_needs['손실']*100

In [25]:
all_needs['현재/고가%']=all_needs['현재가']/all_needs['고가']*100
all_needs['저가/고가%']=(all_needs['저가']/all_needs['고가'])*100

In [26]:
all_needs.head()

,종목,총 시가,현재가,52주 변동폭,저가,고가,손실,회복,손실율%,회복율%,현재/고가%,저가/고가%
0,삼성중공업,"3,718.83B",6970.0,"3,070 - 8,470",3070.0,8470.0,5400.0,3900.0,63.754427,72.222222,82.290437,36.245573
1,삼성전자,"343,053.8B",54500.0,"42,300 - 62,800",42300.0,62800.0,20500.0,12200.0,32.643312,59.512195,86.783439,67.356688
2,두산인프라코어,"1,153.21B",6250.0,"2,500 - 6,750",2500.0,6750.0,4250.0,3750.0,62.962963,88.235294,92.592593,37.037037
3,한화생명,"1,354.91B",1620.0,"881 - 3,380",881.0,3380.0,2499.0,739.0,73.934911,29.571829,47.928994,26.065089
4,Pan Ocean,"1,937.81B",3860.0,"2,055 - 5,210",2055.0,5210.0,3155.0,1805.0,60.556622,57.210777,74.088292,39.443378

In [27]:
all_needs.to_excel('52주 현황.xlsx')